{% extends 'email_templates/layout.html.twig' %}
{% block content %}
    <div>
        <p>
            Essalamu alaykum wa rahmatu allahi wa barakatuh<br/><br/>
            Vous avez récemment ajouté la photo de l'écran mawaqit de votre mosquée "<strong>{{ mosque.title }}</strong>"
            située au {{ mosque.localisation }}. <br/>
            Après vérification, nous constatons que cette photo ne réspecte pas nos règles
        <ul>
            <li>La photo doit être en mode paysage (horizontal)</li>
            <li>La photo doit être prise dans la mosquée</li>
            <li>Nous devons identifier une partie de la mosquée (minbar, mihrab...)</li>
            <li>Le nom de la mosquée doit apparaitre sur l'écran</li>
        </ul>

        </p>
        <p>
            Nous avons donc supprimé la photo, merci d'en charger une nouvelle qui respecte nos règles.<br/>
        </p>
        <hr>
        Essalamu alaykum wa rahmatu allahi wa barakatuh <br/>

        You recently added the photo of the mawaqit screen of your mosque "<strong>{{ mosque.title }}</strong>" located
        at {{ mosque.localisation }}. <br/>
        After verification, we find that this photo does not comply with our rules
        <ul>
            <li>The photo must be in landscape mode (horizontal)</li>
            <li>The photo must be taken in the mosque</li>
            <li>We have to identify a part of the mosque (minbar, mihrab ...)</li>
            <li>The name of the mosque should appear on the screen</li>
        </ul>
        <p>
            So we removed the photo, thank you for uploading a new one that respects our rules
        </p>

    </div>
    <hr>
    <div class="ar">
        <p>
            السلام عليكم ورحمة الله وبركاته
        </p>
        <p>
            لقد أضفت مؤخرًا صورة شاشة مواقيت مسجدك
            "<strong> {{ mosque.title }} </strong>"
            <br/>
            بعد التحقق ، وجدنا أن هذه الصورة لا تمتثل لقواعدنا
        <ul>
            <li>يجب أن تكون الصورة في الوضع الأفقي</li>
            <li>يجب أن تؤخذ الصورة في المسجد</li>
            <li>إمكانية رؤية جزء من المسجد (المنبر ، المحراب ...)</li>
            <li>يجب أن يظهر اسم المسجد على الشاشة</li>
        </ul>
        <p>
            لذلك أزلنا الصورة ، شكرًا لك على تحميل صورة جديدة تحترم قواعدنا
        </p>
    </div>
    <br>
    <img src="https://mawaqit.net/upload/5db59728ab4a7506030668.jpg" alt="" style="width: 100%">

{% endblock %}
