<div class="mb-4 pwd-rules" style="font-size: 85%; line-height: 0">
    <p class="text-danger" id="rule_1"><i
                class="fas fa-times-circle"></i> {{ 'registration.password_rule_1'|trans({}, 'messages') }}</p>
    <p class="text-danger" id="rule_2"><i
                class="fas fa-times-circle"></i> {{ 'registration.password_rule_2'|trans({}, 'messages') }}</p>
    <p class="text-danger" id="rule_3"><i
                class="fas fa-times-circle"></i> {{ 'registration.password_rule_3'|trans({}, 'messages') }}</p>
    <p class="text-danger" id="rule_4"><i
                class="fas fa-times-circle"></i> {{ 'registration.password_rule_4'|trans({}, 'messages') }}</p>
    <p class="text-danger" id="rule_5"><i
                class="fas fa-times-circle"></i> {{ 'registration.password_rule_5'|trans({}, 'messages') }}</p>
</div>