{% extends "base.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3>{{ 'resetting.reset.submit'|trans }}</h3>
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
            {{ form_widget(form) }}
            {% include 'partial/_password_rules.html.twig' %}
            <div>
                <button type="submit" class="btn btn-primary">{{ 'resetting.reset.submit'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}

{% block additional_javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/password.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}