{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h3>{{ 'mosque.form.streamUrl.title'|trans }}</h3>
            <h5>{{ 'mosque.form.streamUrl.subTitle'|trans }}</h5>
            {{ form(form) }}
            <p class="text-muted mt-2">{{ 'mosque.form.streamUrl.info'|trans|raw }}</p>
            <div>
                <a href="{{ asset('bundles/app/img/rtsp.me.png') }}">
                    <img src="{{ asset('bundles/app/img/rtsp.me.png') }}" width="100%">
                </a>
            </div>
        </div>
    </div>
{% endblock %}